@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

/* Colours
#FFFFFF   white
#EEEEEE   light grey
#DDDDDD   grey
#000103   dark blue / black
#333138   dark purple
#4E598C   light purple
#4E59FF   purple
#F9C784   light orange
#FCAF58   orange
#FF8C42   dark orange
#FF312E   red
*/


/* Elements styling */

html {
    font-family: 'Roboto', sans-serif;
    color: #000103;
    font-size: 0.97rem;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

img {
    text-align: center;
    width: 95%;
}

h1 {
    font-weight: 100;
    font-size: 3.2rem;
    line-height: 2.8rem;
    margin-top: 0;
    margin-bottom: 40px;
}

h3 {
    font-weight: normal;
    line-height: 0;
    font-size: 1.4rem;
    margin-top: 30px;
    margin-bottom: 0;
}

p {
    line-height: 1.4em;
}

ol {
    line-height: 1.4em;
}

button {
    background: #FCAF58;
    padding: 14px 28px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #F9C784;
}

/* Custom scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

button, a {
    transition: all 0.3s ease-out;
}


/* Flex styling */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.flex-container > div {
    width: 100%;
    height: 100%;
    margin: 10px 50px;
    text-align: left;
}

.v-center {
    align-items: center;
}

.h-center {
    justify-content: center;
    padding: 0 180px 0 180px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.justify {
    text-align: justify;
}

.right {
    text-align: right;
}

.float-r {
    float: right;
}

.row {
    flex-flow: row;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.p-50 {
    padding: 50px;
}

.p-25 {
    padding: 25px;
}


/* Navigation bar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
    margin: 0;
    height: 60px;
    padding: 0;
    overflow: hidden;
    background-color: #4E598C;
}

nav li {
    float: left;
    height: 60px;
}

nav img {
    height: 60px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 21px 28px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    color: #ccc;
}

.active {
    background-color: #363e62;
}


/* Variants */

button.secondary {
    background: #eee;
}

button.secondary:hover {
    background: #ddd;
}

.red-t {
    color: #FF312E;
}


/* Code style */

.code_cell {
    background: #eee;
    word-wrap: break-word;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    padding: .01rem .1rem .01rem;
    border-radius: .3rem;
}


/* Table */

table {
    width: 100%;
    font-size: 0.85rem;
    border-bottom: 3px solid #4E598C;
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
}

th,
td {
    padding: 15px 15px;
    border: 1px solid #ddd;
}

td ul {
    margin: 0 auto 0 auto;
    padding-left: 15px;
    padding-top: 5px;
    line-height: 1.2rem;
}

th {
    color: white;
    background: #4E598C;
}

tr:nth-child(odd) {
    background: #eee;
}

tr:nth-child(even) {
    background: #fff;
}

tr:nth-child(4) {
    font-weight: bold;
    color: #4E598C;
}


/* Form */

form {
    background-color: #FFF;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0;
    text-align: center;
}

.input {
    text-align: left;
    height: 48px;
    margin-left: auto;
    order: 2;
}

label {
    text-align: left;
    color: #333;
    height: 20px;
    width: 25%;
}

input[type=radio],
input[type=checkbox] {
    border: 1px solid #ddd;
}

input[type=text],
input[type=email],
select,
textarea {
    padding: 4px 4px 4px 8px;
    height: 26px;
    width: 65%;
    border: 1px solid #ddd;
}

input[type=text]:hover,
input[type=email]:hover,
select:hover,
textarea:hover {
    border: 1px solid #fff;
    border-bottom: 1px solid #333138;
}

input[type=checkbox] {
    margin-left: 8px;
    margin-right: 2px;
}

select {
    width: 68%;
    height: 30px;
}

textarea {
    height: 100px;
}

.textarea {
    height: 120px;
}

.panel {
    margin-bottom: 36px;
}

.form-title {
    margin-bottom: 16px;
}

.form-buttons {
    margin-top: 16px;
}

.form-buttons button {
    padding: 12px 24px;
}


/* Section custom styles */

.home-section, .why-html-section {
    margin-top: 110px;
}

.home-section .text {
    padding: 0 20px 0 60px;
}

.home-section .text p {
    line-height: 1.6em;
    margin-top: 0;
    margin-bottom: 26px;
}

.home-section .image {
    text-align: center;
}

.why-html-section .text ol {
    line-height: 1.4em;
}

.why-html-section .image {
    text-align: center;
    padding: 0 32px 0 32px;
}

.why-html-section .text {
    padding: 0 70px 0 35px;
}


/* Responsive web design media queries */

/* --- Landscape tablets --- */

@media screen and (max-width: 1050px) {
    .h-center {
        padding: 0;
    }

    h1 {
        font-size: 5vw;
    }

    h3 {
        font-size: 3vw;
    }

    body,
    form,
    input,
    textarea,
    select,
    button {
        font-size: 1.5vw;
    }

    table {
        font-size: 1.3vw;
    }

    .home-section {
        align-items: center;
    }

    .why-html-section .image {
        padding: 0 10px 0 10px;
    }

    .home-section img, .why-html-section img {
        width: 90%;
    }
}

/* --- Portrait tablets --- */

@media screen and (max-width: 768px) {

    body {
        font-size: 0.9em;
    }

    .flex-container {
        flex-direction: column;
        margin: 0;
        overflow-x: hidden;
    }

    .h-center {
        padding: 0;
    }

    .flex-container > div {
        margin: 0;
    }

    .input {
        height: auto;
        width: 100%;
        margin: 15px 0 0 0;
    }

    .why-html-section .text,
    .home-section .text,
    .home-section .table-section,
    .why-html-section .image {
        padding: 10px;
    }

    .home-section, .why-html-section {
        margin-top: 100px;
    }

    .home-section .text {
        order: 2;
    }

    .home-section .image {
        order: 1;
    }

    .home-section .image, .why-html-section .image {
        margin: 20px 0 30px 0;
    }

    .home-section img, .why-html-section img {
        width: 80%;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 35px;
        text-align: center;
        font-size: 3.2rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    body {
        padding: 0 25px 0 25px;
    }

    body,
    form,
    input,
    textarea,
    select,
    button {
        font-size: 2.65vw;
    }

    form,
    input[type=text],
    input[type=email],
    select,
    form .float-r {
        line-height: 2;
        width: 98%;
        padding: 0;
        float: none;
    }

    input[type=text],
    input[type=email],
    select {
        height: 50px;
        padding-left: 5px;
    }

    textarea {
        height: 140px;
    }

    table {
        font-size: 2.2vw;
        border-collapse: separate;
        border-spacing: 0;
    }

    .table {
        width: 100%;
        overflow-x: scroll;
        padding: 0;
    }

    .fixed-column {
        z-index: 1;
        position: sticky;
        width: 5em;
        left: 0;
        top: auto;
    }

    tr:nth-child(odd) .fixed-column {
        background: #eee;
    }

    tr:nth-child(even) .fixed-column {
        background: #fff;
    }

    tr:first-child th.fixed-column {
        background: #4E598C;
    }
}

/* --- Mobile phones --- */

@media screen and (max-width: 576px) {
    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    body,
    form,
    input,
    textarea,
    select,
    button {
        font-size: 1rem;
    }

    table {
        margin-top: 20px;
        font-size: 0.8rem;
        border-collapse: separate;
        border-spacing: 0;
    }

    .home-section .text p {
        margin-bottom: 30px;
    }

    .why-html-section .text, .home-section .text, .home-section .table-section, .why-html-section .image {
        padding: 0;
    }

    .home-section img, .why-html-section img {
        width: 95%;
    }
}
